<p><h2><%=@dashboard.organization_name %></h2></p>
<p><h3><%=@dashboard.pipe_name %></h3></p>
   <%= button_to "Fecht new data", dashboards_fecht_new_data_path, method: :get, class:'btn btn-primary' %>
<table class="table table-striped">
  <tr>
    <th>Title</th>
    <th>Due date</th>
    <th>Current phase</th>
    <th>Current phase fields</th>
  </tr>
    <% @dashboard.cards.each do |card|%>
  <tr>
    <td><%= card["node"]["title"] %></td>
    <td><%= card["node"]["due_date"] %></td>
    <td><%= card["node"]["current_phase"]["name"] %></td>
    <td>
      <% card["node"]["fields"].each do |field| %>
      <p><strong><%= field["name"]%> </strong></p>
      <%= field["value"]%>
      <% end %>

    </td>
  </tr>
  <% end %>
</table>